:root {
  color-scheme: light dark;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
}

html,
body {
  height: 100%;
  margin: 0;
}

#root {
  min-height: 100%;
}

